@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/*Estilos Globales*/

:root {
    --primary: #fdf2e9;
    --secondary: #e67e22;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", serif;
  }

  button {
    background-color: transparent;
    border: 0;
  }

  h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 29px;
  }
  

  /*Estilos Header*/

header {
    padding: 48px;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    align-items: center;
  }
  
  header img {
    height: 22px;
  }
  
  header ul {
    display: flex;
    gap: 48px;
    list-style: none;
    align-items: center;
  }
  
  header li {
    font-size: 18px;
    font-weight: 500;
  }
  
  header button {
    background-color: var(--secondary);
    font-size: 18px;
    color: white;
    padding: 10px 22px;
    border-radius: 9px;
    font-weight: 500;
  }

  /* Estilos Body */


.hero {
  padding: 48px 0 96px;
  background-color: var(--primary);
}

.hero__container {
  padding: 0 32px;
  margin: 0 34px;
  display: flex;
  gap: 70px;
  & img {
    width: 460px;
  }
}

.hero__paragraph {
  margin-bottom: 43px;
  font-size: 18px;
  color: #555555;
  font-weight: 400;
}

.hero__button {
  background-color: var(--secondary);
  color: white;
  margin: 0 14px 0 0;
  padding: 15px 28px;
  border-radius: 9px;
  font-size: 18px;
  font-weight: 600;
}

.hero__2nd__button{
  background-color: white;
  font-size: 18px;
  padding: 15px 28px;
  color: #555555;
  font-weight: 600;
  border-radius: 9px;
}

.hero__costumer__photos {
  display: flex;
  margin-top: 72px;
  align-content: center;
  justify-items: space-between;
  & img {
    border: solid 3px;
    border-radius: 100%;
    width: 45px;
    border-color: white;
    margin-left: -14px;
    font-weight: 400;
  }
  & p {
    align-content: center;
    font-size: 16px;
    font-weight: 500;
  }
}
.hero__delivered__meals {
  color: var(--secondary);
}

/*Apartado Featured*/

.featured{
  padding:38px 0px 26px;
  margin:0 34px;
}

.featured__brands{
  font-size: 11px;
  margin-bottom: 19px;
  color:#888888;
  text-align: center;
}

.brand__imgs{
  display: flex;
  justify-content: space-around;
  padding: 0px 26px;
  max-width: 100%;
  gap:30px;
  margin:0 auto;
  
}

.brand__imgs img{
  width: 145px;
  height: auto;
  object-fit:contain;

}