@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
:root {
  --color-primario: #e67e22;
  --color-secundario: #fdf2e9;
  --color-texto: #333333;
}

button {
  border: 0;
}

nav {
  background-color: var(--color-secundario);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 48px;
}

/* Globales */
.boton {
  padding: 12px 24px;
  border-radius: 9px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}
.boton:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
.boton:active {
  transform: scale(0.9);
  transition: all 0.5s;
}

.boton-principal {
  color: white;
  background-color: var(--color-primario);
}

.boton-secundario {
  color: var(--color-texto);
  background-color: white;
}

.contenedor {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  padding: 20px;
}

/* Nav */

.nav-logo {
  width: 165px;
}

.nav-lista {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 48px;
}

.nav-elemento {
  font-size: 18px;
  color: var(--color-texto);
  font-weight: 500;
}

.menu-boton {
  display: none;
}
.menu-icono {
  width: 40px;
}

/* Hero */

.hero {
  display: flex;
  justify-content: center;
  gap: 90px;
  background-color: var(--color-secundario);
  padding: 48px;
}

.hero-imagen {
  width: 100%;
}

.hero-contenedor {
  width: 40%;
}

.hero-titulo {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 32px;
}

.hero-subtitulo {
  font-size: 20px;
  margin-bottom: 48px;
  font-weight: lighter;
}

.hero-botones {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero-compradores {
  margin-top: 80px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero-comprador {
  border-radius: 100px;
  width: 48px;
  height: 48px;
  margin-left: -15px;
  border: 3px var(--color-secundario) solid;
}
.hero-compradores-texto {
  font-size: 18px;
  font-weight: 600;
}
.hero-compradores-texto-naranja {
  color: var(--color-primario);
}

/* Logos */
.logos {
  text-align: center;
}
.logos-titulo {
  font-size: 15px;
  color: var(--color-texto);
  text-transform: uppercase;
  padding: 50px 0;
}

.contenedor-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.logos-imagen {
  height: 30px;
  filter: brightness(0);
  opacity: 50%;
}

/* Pasos */
.pasos {
  padding: 100px 0;
}
.pasos-subtitulo {
  font-size: 20px;
  color: var(--color-primario);
  text-transform: uppercase;
}
.pasos-titulo {
  font-size: 48px;
  padding: 20px 0;
}

.pasos-contenedor {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.pasos-contenedor-reversa {
  flex-direction: row-reverse;
}
.pasos-contenedor-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.pasos-contenedor-imagen {
  width: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pasos-numero {
  font-size: 90px;
  font-weight: 500;
  opacity: 20%;
}
.pasos-contenedor-titulo {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 30px;
}
.pasos-contenedor-descripcion {
  font-size: 20px;
  text-align: justify;
  line-height: 32px;
}

.pasos-imagen {
  width: 45%;
  max-width: 190px;
  margin: auto;
  z-index: -1;
}

/* Recetas */
.recetas {
  text-align: center;
}
.recetas-subtitulo {
  font-size: 20px;
  color: var(--color-primario);
  text-transform: uppercase;
}
.recetas-titulo {
  font-size: 48px;
  padding: 20px 0;
}
.recetas-tarjetas {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 60px;
  margin: 80px 0;
  flex-wrap: wrap;
}
.recetas-tarjeta {
  width: 100%;
  max-width: 300px;
  border-radius: 11px;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  text-align: left;
  transition: all 0.3s;
}
.recetas-dieta {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.recetas-tarjeta:hover {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
  transform: translateY(-1.2rem);
}
.recetas-tarjeta-imagen {
  width: 100%;
}
.recetas-texto {
  padding: 35px 45px 45px;
}
.recetas-etiqueta {
  background-color: #51cf66;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 2px 10px;
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 20px;
  display: inline-block;
}
.recetas-etiqueta-amarilla {
  background-color: #ffd43b;
}
.recetas-tarjeta-titulo {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--color-texto);
}
.recetas-lista {
  list-style: none;
  text-align: left;
}
.recetas-elemento {
  margin: 20px 0;
  font-size: 18px;
}
.recetas-icono {
  color: var(--color-primario);
  margin-right: 15px;
}

.recetas-dieta-titulo {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--color-texto);
  text-align: left;
}

/* RESPONSIVO */

@media screen and (max-width: 1200px) {
  .nav-elemento {
    font-size: 16px;
  }
  .hero-titulo {
    font-size: 40px;
  }
}

@media screen and (max-width: 950px) {
  .nav-lista {
    display: none;
  }
  .menu-boton {
    display: block;
  }
  .hero {
    flex-direction: column;
    align-items: center;
  }
  .hero-contenedor {
    width: 100%;
  }
  .hero-titulo,
  .hero-subtitulo {
    text-align: center;
  }
  .hero-botones {
    justify-content: center;
  }
  .hero-compradores {
    justify-content: center;
  }
  .recetas-titulo {
    font-size: 40px;
  }
}

@media screen and (max-width: 400px) {
  .hero,
  nav {
    padding: 15px;
  }
  .hero-titulo {
    font-size: 25px;
  }
  .hero-subtitulo {
    font-size: 20px;
  }
  .hero-botones {
    flex-direction: column;
    align-items: stretch;
  }
  .hero-compradores {
    flex-direction: column;
  }
  .hero-compradores-texto {
    text-align: center;
    text-wrap: balance;
  }

  .recetas-titulo {
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) {
  .pasos-contenedor {
    flex-direction: column-reverse;
  }
  .pasos-contenedor-imagen,
  .pasos-contenedor-texto {
    width: 100%;
  }
  .pasos-titulo {
    font-size: 30px;
  }
}
/* Media queries

1200 para laptop pequeña 
900 para tablet invertida
600 para tablet en modo normal
400 para telefono
*/
