@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/*Estilos Globales*/

:root {
  --primary: #fdf2e9;
  --secondary: #e67e22;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", serif;
}

button {
  background-color: transparent;
  border: 0;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 29px;
}

.secondary__section__heading {
  margin: 0 0 40px;
  font-size: 40px;
  color: #333333;
}

.tertiary__heading {
  font-weight: 600;
  font-size: 29px;
  margin: 0 0 29px;
}

.section__subtitle {
  color: var(--secondary);
  margin-bottom: 13px;
  font-weight: 600;
}

/*Estilos Header*/

header {
  padding: 48px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

header img {
  height: 22px;
}

header ul {
  display: flex;
  gap: 48px;
  list-style: none;
  align-items: center;
}

header li {
  font-size: 18px;
  font-weight: 500;
}

header button {
  background-color: var(--secondary);
  font-size: 18px;
  color: white;
  padding: 10px 22px;
  border-radius: 9px;
  font-weight: 500;
}

/* Estilos Body */

.hero {
  padding: 48px 0 96px;
  background-color: var(--primary);
  margin-top: 138px;
}

.hero__container {
  padding: 0 32px;
  margin: 0 34px;
  display: flex;
  gap: 70px;
  & img {
    width: 460px;
  }
}

.hero__paragraph {
  margin-bottom: 43px;
  font-size: 18px;
  color: #555555;
  font-weight: 400;
}

.hero__button {
  background-color: var(--secondary);
  color: white;
  margin: 0 14px 0 0;
  padding: 15px 28px;
  border-radius: 9px;
  font-size: 18px;
  font-weight: 600;
}

.hero__2nd__button {
  background-color: white;
  font-size: 18px;
  padding: 15px 28px;
  color: #555555;
  font-weight: 600;
  border-radius: 9px;
}

.hero__costumer__photos {
  display: flex;
  margin-top: 72px;
  align-content: center;
  justify-items: space-between;
  & img {
    border: solid 3px;
    border-radius: 100%;
    width: 45px;
    border-color: white;
    margin-left: -14px;
    font-weight: 400;
  }
  & p {
    align-content: center;
    font-size: 16px;
    font-weight: 500;
  }
}
.hero__delivered__meals {
  color: var(--secondary);
}

/*Apartado Featured*/

.featured {
  padding: 38px 0px 26px;
  margin: 0 34px;
}

.featured__brands {
  font-size: 11px;
  margin-bottom: 19px;
  color: #888888;
  text-align: center;
}

.brand__imgs {
  display: flex;
  justify-content: space-around;
  padding: 0px 26px;
  max-width: 100%;
  gap: 30px;
  margin: 0 auto;
}

.brand__imgs img {
  width: 145px;
  height: auto;
  object-fit: contain;
}

/*Estilos section HOW*/

.__section {
  padding: 77px 32px;
  margin: 0 34px;
}

.how__section__container {
  margin: 0 auto;
}

/*Estilos step_box*/

.how__step__box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.step__box__number {
  font-size: 77px;
  margin: 0 0 10px;
  color: #dddddd;
  font-weight: 600;
}

.step__description {
  font-size: 20px;
  color: #555555;
}

.step__box__img img {
  width: 200px;
  height: auto;
}

.step__box__img {
  display: flex;
  justify-content: center;
}

.how__step__box div {
  width: 460px;
  margin: 30px 50px;
  padding: 20px;
}

/*Estilos MEALS*/

.heading_center {
  text-align: center;
}

ul {
  list-style: none;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 0 43px;
  padding: 29px;
  column-gap: 4.8rem;
  row-gap: 5rem;
}

.grid__container img {
  width: 100%;
  height: auto;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  align-items: start;
}

.meal__info {
  padding: 19px 26px 26px;
}

.meal__tags {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.2rem;
  font-size: 9px;
  font-weight: 600;
}

.tags {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
  font-size: 13px;
}

.tags__vegetarian {
  background-color: #51cf66;
}

.tags__vegan {
  background-color: #94d82d;
}

.tags__paleo {
  background-color: #ffd43b;
}

.meal__title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 29px;
}

.meal__attributes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #555555;
}

.diet__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 18px;
  color: #555555;

}

.link__container{
  text-align: center;
  padding: 0 28px;
  width: 100%;
  font-size:18px;
  color: var(--secondary);
  text-decoration:underline;
}

/*Grid Testimonials*/

#testimonials__grid{
  display:grid;
  grid-template-columns: 45% 55%;
  align-items: center;
  gap:4rem;
}

.testimonials__container{
  padding: 86px 29px;
}

.testimonials__container img{
  width: 4em;
  border-radius: 100%;
}

.testimonials__figure__grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8rem;
  row-gap: 5rem;
}

.testimonial__gallery{
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap:1.6rem;
  align-items:center;
}

.testimonial__gallery img{
  height: auto;
  max-width: 100%;  
}