@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
:root {
  --color-primario: #e67e22;
  --color-secundario: #fdf2e9;
  --color-texto: #333333;
}

button {
  border: 0;
}

nav {
  background-color: var(--color-secundario);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 48px;
}

/* Globales */
.boton {
  padding: 12px 24px;
  border-radius: 9px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}
.boton:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
.boton:active {
  transform: scale(0.9);
  transition: all 0.5s;
}

.boton-principal {
  color: white;
  background-color: var(--color-primario);
}

.boton-secundario {
  color: var(--color-texto);
  background-color: white;
}

/* Nav */

.nav-logo {
  width: 165px;
}

.nav-lista {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 48px;
}

.nav-elemento {
  font-size: 18px;
  color: var(--color-texto);
  font-weight: 500;
}

.menu-boton {
  display: none;
}
.menu-icono {
  width: 40px;
}

/* Hero */

.hero {
  display: flex;
  justify-content: center;
  gap: 90px;
  background-color: var(--color-secundario);
  padding: 48px;
}

.hero-imagen {
  width: 100%;
}

.hero-contenedor {
  width: 40%;
}

.hero-titulo {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 32px;
}

.hero-subtitulo {
  font-size: 20px;
  margin-bottom: 48px;
  font-weight: lighter;
}

.hero-botones {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero-compradores {
  margin-top: 80px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero-comprador {
  border-radius: 100px;
  width: 48px;
  height: 48px;
  margin-left: -15px;
  border: 3px var(--color-secundario) solid;
}
.hero-compradores-texto {
  font-size: 18px;
  font-weight: 600;
}
.hero-compradores-texto-naranja {
  color: var(--color-primario);
}

/* RESPONSIVO */

@media screen and (max-width: 1200px) {
  .nav-elemento {
    font-size: 16px;
  }
  .hero-titulo {
    font-size: 40px;
  }
}

@media screen and (max-width: 950px) {
  .nav-lista {
    display: none;
  }
  .menu-boton {
    display: block;
  }
  .hero {
    flex-direction: column;
    align-items: center;
  }
  .hero-contenedor {
    width: 100%;
  }
  .hero-titulo,
  .hero-subtitulo {
    text-align: center;
  }
  .hero-botones {
    justify-content: center;
  }
  .hero-compradores {
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .hero,
  nav {
    padding: 15px;
  }
  .hero-titulo {
    font-size: 25px;
  }
  .hero-subtitulo {
    font-size: 20px;
  }
  .hero-botones {
    flex-direction: column;
    align-items: stretch;
  }
  .hero-compradores {
    flex-direction: column;
  }
  .hero-compradores-texto {
    text-align: center;
    text-wrap: balance;
  }
}

/* Media queries

1200 para laptop pequeña 
900 para tablet invertida
600 para tablet en modo normal
400 para telefono
*/
